body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh;
    gap: 10px;
    padding: 8px;
    box-sizing: border-box;
    grid-template-rows: 1fr auto;
}

span {
    color: #f1f1f1
}

aside {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

button {
    background-color: transparent;
    border: transparent;
    gap: 10px;
    display: flex;
    align-items: center;
}

.buscar_button,
.biblioteca_button,
.inicio_button {
    justify-content: flex-start;
    width: 100%;
}

svg {
    color: #fff;
}

.aside_down,
.header_nav,
.main,
.right_aside {
    background-color: #121212;
    border-radius: 10px;
}

.header_nav {
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 8px 16px;
    gap: 8px
}



.right_buttons {
    display: flex;
    flex-direction: row;
}


path {
    width: 100%;
    box-sizing: border-box
}

.aside_down--header {
    display: flex;
    flex-direction: column;
}

.aside_down--header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 16px;
}

.aside_down--header-top--right_buttons {
    display: flex;
    flex-direction: row;
}

.aside_down {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.aside_down_mid {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
}



.aside_down_mid--xbutton {
    background-color: #2a2a2a;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid_button {
    align-items: flex-start;
}

.artistas {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    font-size: 14px;
    margin: 0 0 0 10px;
}

.list_header {
    display: flex;
    flex-direction: row;
    padding: 8px 16px;
    justify-content: space-between;
}

.artists_list img {
    width: 10%;
    border-radius: 80px;
    margin: 10px;
}

.artists_list .list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    padding: 0;
}

.banner {
    background-position: center;
    background-repeat: no-repeat;
    background: url("../img/about.jpg");
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 30%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}



.banner_header--left-buttons {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 10%;
    justify-content: space-between;

}

.banner_header--left-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    height: 34px;
    width: 34px;
    padding: 6px 0 0 6px;

    background-color: rgba(0, 0, 0, 0.2);

}

.banner_header--right-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.notis {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    height: 34px;
    width: 34px;
    padding: 6px 0 0 6px;

    background-color: rgba(0, 0, 0, 0.2);
}

.banner_header--right-buttons span {
    display: flex;
    align-items: center;
}

.installer {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;

}

.account img {
    border-radius: 30px;
    width: 25px;
    height: 25px;
}

.account {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    width: 35px;
    height: 35px;
}

.main_banner {
    margin: 0 0 25px 19px;
    display: flex;
    flex-direction: column;

}

.main_banner h1 {
    color: #fff;
    font-size: 4em;
    margin: 0 0 10px 0;
}

.info_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.pause_button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1fdf64;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.pause {
    color: #000
}

.populares {
    margin: 0px 35px
}

.follow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 2px solid #888;
    border-radius: 16px;
    width: 107px;
    height: 32px;

}

.imgs img {
    width: 45px;
    border-radius: 5px;
    margin: 0 12px;
}

ul.songs {
    color: #fff;
    list-style-type: decimal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.popular_songs {
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.numeros,
.imgs,
.titles,
.reproducciones,
.svgs,
.time {
    display: flex;
    flex-direction: column;
    gap: 25px;

    justify-content: space-around;
}

.mid_section {
    display: flex;
}

.songs li {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.songs svg,
.song_info svg,
.start,
.svgs svg,
.start svg {
    color: #1dd15d;
}

li section {
    display: flex;
    align-items: center;
    gap: 5px;
}

.right_aside-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.right_aside-main img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.img {
    display: flex;
    justify-content: center;
}

h1 {
    color: #fff;
    margin: 0 0;
}

.song_info span {
    color: #b5b5b5;
}

.right_aside-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
}


.song_info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.artist {
    padding: 20px;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
        url("../img/about.jpg");
    width: 93%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px 10px 0 0;
}


.about_artist {
    width: 90%;
    height: 100%;
    padding: 20px;

}

.artist_info {
    background-color: #242424;
    width: 425px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.unfollow {
    color: #fff;
    border: 2px solid #444;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    height: 45px;
}

.mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

footer,
.start {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.start img {
    border-radius: 5px;
}

.text {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.start {
    margin: 5px 0
}

.cdn {
    color: #8e8e8e
}

.mid_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid_footer-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 60px
}

.mid_footer-mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.pause-play {
    color: #000;
    background-color: #fff;
    align-items: center;
    border-radius: 50%;
}

.vista {
    color: #1db954;
}

.footer_end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.footer_end--buttons {
    display: flex;
    width: 100%;
    gap: 30px;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.right_section,
.left_section {
    display: flex;
}

@media screen and (max-width: 700px) {

    aside,
    .mid_footer-buttons,
    .footer_end--buttons,
    .banner_header--right-buttons,
    .banner_header--left-buttons .forward,
    .main_banner span {
        display: none;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .banner {
        height: 35%;
    }

    .main_banner {
        flex-direction: column;
        flex-wrap: wrap;
        width: 67%;
    }

    .main_banner h1 {
        margin: 0
    }

    .banner {

        background: url("../img/cdnres.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    
    .info_header {
        display: flex;
        justify-content: start;
        flex-direction: row-reverse;
        
    }
    
    .info_header .pause_button{
        margin: 0 0 0 60%;
    }
    .time {
        display: none;
    }
    footer {
        background-color: #008bc2;
        border-radius: 10px;
        padding: 0 10px;
    }
    .text .cdn {
        color: white;
    }

    .start svg {
        display: none;
    }
}
